GCP_PROJECT_ID=photolib-405112
PREVIEWS_BUCKET=photolib-405112-previews
ORIGINALS_BUCKET=photolib-405112-originals
INGEST_JOB_NAME=theboss-photos-ingest
GCP_REGION=us-central1
DRIVE_FOLDER_ID=replace-with-your-google-drive-folder-id
