google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.129.0
google-cloud-storage==2.19.0
google-cloud-firestore==2.27.0
google-cloud-secret-manager==2.29.0
protobuf>=5.29.6,<8.0.0
Pillow==12.2.0
pillow-heif==1.4.0
requests==2.32.2
